
<div id="contentform" style="padding-bottom:40px">
  <form [formGroup]="Rechargedata" class="formulaire typeform2" >
    <div class="formdiv" [style.border-color]="Rechargedata.controls.telephone.errors && Rechargedata.controls.telephone.touched ? 'red' : '#578cc9'">
      <div class="light" id="newcontact" (click)="listecontacts()">
        <span><img  src="assets/images/new_contact.png" style="width:22px"/></span>
      </div>
      <label>Numéro de téléphone</label>
      <input type="tel" prefix="+221 " mask="00-000-00-00" formControlName="telephone"  placeholder="Entrer le numéro de téléphone"/>
      <div></div>
    </div>
    <ion-label *ngIf="glb.showContactName">{{displayName}}</ion-label>
    <div class="formdiv" [style.border-color]="Rechargedata.controls.montant.errors && Rechargedata.controls.montant.touched ? 'red' : '#578cc9'">
        <div class="light" id="newcontact" (click)="eraseAmount()">
            <ion-icon size="large"  style="color: #659cd5 !important;" name="backspace"></ion-icon>
          </div>
      <label>Montant</label>
      <input type="tel" (blur)="changemontant()" (focus)="focusmontant()" formControlName="montant" placeholder="Entrer le montant ici"/>
      <div></div>
    </div>
    <div class="flex2 flexcenter reinitvalid" id="btncontrol">
      <span class="shabot"></span>
      <button [style.background]="!Rechargedata.valid ? '#CFD8DC' : '#074A94'"  class="btnbleu" (click)="getContactName()" [disabled]="!Rechargedata.valid" class="btnbleu">Valider</button>
    </div>

    <div id="abonnement" class="bodycontent" *ngIf="recentsContacts?.length > 0" >
      <div class="titrehistorique">Bénéficiaire(s) récent(s)</div>
      <div *ngFor="let recent of recentsContacts" class = "ligne" style="display: flex;" (click)="selectRecent(recent)" >
        <div class="ligneitemfirst" style="align-items: center;border-left: 5px solid green;background: #f6fbf3;">
          <img style="width: 70%" [src]="datarecharge.image" alt="">
        </div>
        <div class="ligneitem">
          <span  class="ligneitem1" style="text-transform: uppercase" >CLIENT</span>
          <span  class="ligneitem2" >{{recent.nomclient}}</span>
        </div>
        <div class="ligneitem">
            <span class="ligneitem1" style="text-transform: uppercase" >N° TEL</span>
            <span class="ligneitem2" >{{recent.reference}}</span>
          </div>
          <div class="ligneitem">
              <span style="border: none" style="text-transform: uppercase" class="ligneitem1" >Montant</span>
              <span style="border: none" class="ligneitem2" >{{recent.montant}}</span>
            </div>
      </div>
  
    </div>
  </form>
</div>