<app-header [headerTitle]="headerTitle"></app-header>
<ion-content>
    <div style="padding:15px" id="contentform">
            <div class="formdiv">
                <label>Type de Service</label>
                <ion-select [(ngModel)]="service" style="--padding-start:0px; --padding-bottom: 0px" interface="popover">
                  <ion-select-option value='Cashin'>Transfert</ion-select-option>
                  <ion-select-option value='Cashout'>Retrait</ion-select-option>
                </ion-select>
                <div></div>
              </div>
      </div>
  <app-recharge *ngIf="service=='Cashin'" [datarecharge]="datarecharge"></app-recharge>
  <cashin-releve [cashindata]="datacashin" *ngIf="service=='Cashout'"></cashin-releve>
</ion-content>
  <app-footer></app-footer>
