<ion-content>
  <div id="home">
    <span class="circlesmall"></span>
    <div id="entete">
  <!--     <div id="avatar">
        <img src="assets/images/avatar.png" height="43"/>
      </div> -->
      <div id="upaylight">
        <img src="assets/images/upay-logo.png" height="43"/>
      </div>
<!--       <div id="notif">
        <img src="assets/images/notification.png" height="27"/>
        <span id="nombre">5</span>
      </div> -->
    </div>
    <div id="acceuil">
      <div id="msgacceuil">Bienvenue, <span>{{glbVariable.PRENOM}} {{glbVariable.NOM}}</span></div>
      <div id="datedujour">{{glbVariable.dateUpdate}}</div>
    </div>
    <div id="middle">
      <img src="assets/images/elipse_v2.png" style="max-height:100%;width:100%;position:absolute;bottom:-40px;left:0;z-index:0"/>
      <div id="slider">
        <div class="service">
          <div class="topservice">
            <div class="histo" (click)="historique()">
              <img src="assets/images/calendar.png" height="25"/>
            </div>
            <div class="logoservice">
              <img src="assets/images/wizall.png" height="43"/>
            </div>
            <div class="actualise">
              <img src="assets/images/refresh.png" height="23"/>
            </div>
          </div>
          <div id="soldecmpt">
            <label>Solde du compte</label>
            <div id="numcompte">
              <span *ngIf="!glbVariable.ShowSolde">- - - - - - - </span>
              <span *ngIf="glbVariable.ShowSolde">{{glbVariable.HEADER.montant}}F</span>
              <img (click)="showSolde()" src="assets/images/secure.png" height="26"/>
            </div>
          </div>
          <span class="circlemedium"></span>
        </div>
        <div class="dotslide">
          <div>
            <img src="assets/images/dot_1.png" height="9"/>
            <img src="assets/images/dot_2.png" height="9"/>
            <img src="assets/images/dot_1.png" height="9"/>
          </div>
        </div>
      </div>
      <div (click)="mescartes()" id="account">
        <img src="assets/images/cmpte.png" height="124"/>
      </div>
    </div>
    <div id="fonction">
      <div class="line">
        <div (click)="home(l.chemin)" class="fct" *ngFor="let l of ligneUne">
          <img [src]="l.image" height="40"/>
          <span>{{l.libelle}}</span>
        </div>
      </div>
      <div class="line">
        <div (click)="home(l.chemin)" class="fct" *ngFor="let l of ligneDeux">
          <img [src]="l.image" height="40"/>
          <span>{{l.libelle}}</span>
        </div>

      </div>
    </div>

  </div>

</ion-content>

<ion-footer>
  <span class="shabot"></span>
  <div id="pied">
    <div (click)="historique()" id="trans">
      <div><img src="assets/images/transaction.png" height="30"/></div>
      <label>Transactions</label>
      <span></span>
    </div>
    <div id="contactsupport">
      <div id="support">
        <img src="assets/images/support.png" height="40"/>
        <label>Support</label>
      </div>
    </div>
  </div>
</ion-footer>
