<div id="content" class="flexcenter">
    <div id="page">
        <div style="background: #fff url('assets/images/bgcontent.png') no-repeat;background-size: cover;" class="flex1 flexcenter">
            <div id="contentflex1">
                <div id="logo">
                    <img style="height: 95px;" src="assets/images/logo-upay-portrait.png"/>
                </div>
                <div id="codepin">
                    <span>Entrer votre code pin</span>
                </div>
                <div id="pinvalue">
                    <div [class.active] = "pin.length>0" class="pin1"><span></span><em></em></div>
                    <div [class.active] = "pin.length>1" class="pin1"><span></span><em></em></div>
                    <div [class.active] = "pin.length>2" class="pin1"><span></span><em></em></div>
                    <div [class.active] = "pin.length>3" class="pin1"><span></span><em></em></div> 
                </div>
                <div id="compte">
                    <span>Pas encore inscrit,</span>
                    <a (click)="verssouscription()">Créer un compte</a>
                </div>
  
            </div>

        </div>
        <div class="flex2 flexcenter">
            <div id="clavier">
                <div class="number" *ngFor=" let nb of numbersTabs; let i=index">
                    <button  (click)="presse(nb)" id="num1">{{nb}}</button>
                  </div>
                  <div class="number">
                    <button style="font-size: 20px;" (click)="presse('ok')" class="okbtn">OK</button>
                </div>
                <div class="number">
                    <button (click)="presse(lastnumber)" id="num9">{{lastnumber}}</button>
                </div>
                <div class="number">
                    <button class="nobg" (click)="presse('clear')"> <img style="height: 20px" src="assets/images/delete.png"/></button>
                </div>
            </div>
        </div>
        <div class="flex3 flexcenter">
            <div id="touch">
                <img src="assets/images/touch.png"/>
                <span>Utiliser Touch ID pour déverrouiller?</span>
            </div>
        </div>
    </div>
</div>
