<app-header [headerTitle]="headerTitle"></app-header>
<ion-content>
  <div class="bodycontent">
    <div id="contentslide">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide style="align-self: center" *ngFor="let wallet of listeWallets">
          <img (click)="selectImage(wallet)" [class.active]="wallet.image==walletSelected.image" [src]="wallet.image" alt="" class="opa">
        </ion-slide>
      </ion-slides>
    </div>
    <form [formGroup]="Rechargedata">
        <div style="padding: 15px">
            <div style="display: flex;margin-bottom: 12px;">
        
              <div  class="formdiv customfirst" style="width:67%">
                <label>Entrez votre numéro de téléphone</label>
                <input formControlName="telephone" type="tel" prefix="+221 " mask="00-000-00-00"/>
                <div></div>
              </div>
              <div style="border: 1px solid #b6d3f0;border-radius: 5px;background:#fff;margin-left:10px;padding-left: 10px;padding-right: 10px;display: flex;justify-content: center;align-items:center;width:33%">
                <img style="height: 45px;"  [src]="walletSelected.image" alt="">
              </div>
            </div>
        
        
            <div style="background: #fff;margin-bottom: 18px;padding: 10px 10px;" class="formdiv">
              <label>Renseignez votre code secret</label>
              <input formControlName="codepin" type="tel" mask="XXXX" [hiddenInput]="true"/>
              <div></div>
            </div>
            <div class="flex2 flexcenter" id="btncontrol">
        
              <button [style.background]="!Rechargedata.valid ? '#CFD8DC' : '#074A94'" [disabled]="!Rechargedata.valid" style="width: 100%;border-radius: 5px;" id="btnsvt" class="btnbleu" (click)="insertWallet()" >Valider</button>
            </div>
          </div>
    </form>

  
  </div>
  
</ion-content>
