<div id="bienvenue">
  <div id="contentbien">
    <div id="logo">
      <img src="assets/images/logo-upay-portrait.png" height="136"/>
    </div>
    <div id="infoicon">
      <img src="assets/images/info.png" height="34"/>

    </div>
    <div id="msgbienvenu">
      Bienvenue sur UPay, votre application de paiement Universelle. Recharger votre compte auprès D’un point Proximo pour effectuer des transactions ou configurer un compte (Un wallet, une carte prépayée ou un compte Bancaire).
    </div>
    <div id="serveuricon" style="width:80%">

      <img src="assets/images/serveur.png" height="93"/>
    </div>
    <div (click)="verscompte()" class="imgdiv" id="config">

      <img src="assets/images/config.png" height="42"/>
      <span>Configurer un compte</span>
    </div>
  </div>
  <div (click)="accueil()" class="accessmenu">
    <span>Acceder au menu</span>
  </div>
</div>
