<div id="bienvenue">
  <div id="contentbien">
    <div id="logo">
      <img src="assets/images/logo-upay-portrait.png" height="136"/>
    </div>
    <div id="infoicon">
      <img src="assets/images/info.png" height="34"/>

    </div>
    <div id="msgbienvenu">
      Bienvenue sur UPay Africa, votre application de paiement universelle. Rechargez votre compte pour effectuer des transactions. Vous pouvez aussi configurer un compte (un wallet, une carte prépayée ou un compte bancaire).
    </div>
    <div id="serveuricon" style="width:80%">

      <img src="assets/images/serveur.png" height="93"/>
    </div>
    <div (click)="verscompte()" class="imgdiv" id="config">

      <img src="assets/images/config.png" height="42"/>
      <span>Configurer un compte</span>
    </div>
  </div>
  <div (click)="accueil()" class="accessmenu">
    <span>Acceder au menu</span>
  </div>
</div>
