<div id="content" class="flexcenter" style="height:100%">
    <div id="page">
      <div class="flex1">
        <div id="contentflex1">
          <div id="logo">
            <img src="assets/images/upayv2.png" height="70"/>
          </div>
  
        </div>
  
        <span class="shatop"></span>
      </div>
      <div class="flexible" id="divflexible">
  
        <div id="contentform">
          <form id="souscription_2" [formGroup]="Userdata" class="formulaire">
            <div class="formdiv" [style.border-color]="Userdata.controls.codeotp.errors && Userdata.controls.codeotp.touched ? 'red' : '#578cc9'">
              <label>Entrez le code reçu par SMS</label>
              <input type="tel" mask="0000" formControlName="codeotp" placeholder="Renseignez le code ici"/>
              <div></div>
            </div>
            <div class="formdiv" [style.border-color]="Userdata.controls.codepin.touched  && (!isconform || Userdata.controls.codepin.errors)? 'red' : '#578cc9'">
              <label>Code Pin *</label>
              <input type="tel" mask="XXXX" [hiddenInput]="true" formControlName="codepin"  (change)="verifConfPin()" (input)="verifConfPin()" placeholder="Saisir le "/>
              <div></div>
            </div>
            <div class="formdiv" [style.border-color]="Userdata.controls.confpin.touched  && (!isconform || Userdata.controls.confpin.errors)? 'red' : '#578cc9'">
              <label>Confirmation*</label>
              <input type="tel" mask="XXXX" [hiddenInput]="true" formControlName="confpin" (change)="verifConfPin()" (input)="verifConfPin()" placeholder="Saisir le même code pin"/>
              <div></div>
            </div>
            <p style="color: #d50000;" *ngIf="Userdata.controls.confpin.touched && Userdata.controls.codepin.touched && !isconform">{{message}}</p>

  
  
  
          </form>
        </div>
      </div>
<!--       <div class="flex2 flexcenter" id="btncontrol">
        <span class="shabot"></span>
        <button (click)="souscription1()">Annuler</button>
        <button id="btnvalider" class="btnbleu" (click)="bienvenue()">Valider</button>
      </div> -->
  
    </div>
  </div>
  
  <ion-footer>
      <div class="flex2 flexcenter" id="btncontrol">
          <span class="shabot"></span>
          <button (click)="verssouscription()">Annuler</button>
          <button id="btnsvt" [style.background]="!Userdata.valid || !isconform ? '#CFD8DC' : '#074A94'"  class="btnbleu" [disabled]="!Userdata.valid || !isconform" (click)="souscription()"  >Valider</button>
        </div>
  </ion-footer>  